$nav-tabs-border-color: $secondary-color !default;
$nav-tabs-border-width: $border-width !default;
$nav-tabs-border-radius: $border-radius !default;
$nav-tabs-link-hover-border-color: $hover-border;
$nav-tabs-link-active-color: $active;
$nav-tabs-link-active-bg: $active-bg;
$nav-tabs-link-active-border-color: $active-border;
