// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s, `<ul>`s or `<ol>`s.

.nav
{
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
}

.nav-link
{
    font-weight: $nav-link-font-weight;

    display: block;

    padding: $nav-link-padding-y $nav-link-padding-x;

    transition: $nav-link-transition;
    text-decoration: if($link-hover-decoration == none, null, none);

    color: $nav-link-color;

    @include font-size($nav-link-font-size);

    &:hover,
    &:focus
    {
        text-decoration: if($link-hover-decoration == underline, none, null);

        color: $nav-link-hover-color;
    }

    // Disabled state lightens text
    &.disabled
    {
        cursor: default;
        pointer-events: none;

        color: $nav-link-disabled-color;
    }
}

//
// Tabs
//

.nav-tabs
{
    border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;

    .nav-link
    {
        margin-bottom: -$nav-tabs-border-width;

        border: $nav-tabs-border-width solid transparent;
        background: none;

        border-top-radius: $nav-tabs-border-radius;

        &:hover,
        &:focus
        {
            border-color: $nav-tabs-link-hover-border-color;
            // Prevents active .nav-link tab overlapping focus outline of previous/next .nav-link

            isolation: isolate;
        }

        &.disabled
        {
            color: $nav-link-disabled-color;
            border-color: transparent;
            background-color: transparent;
        }
    }

    .nav-link.active,
    .nav-item.show .nav-link
    {
        color: $nav-tabs-link-active-color;
        border-color: $nav-tabs-link-active-border-color;
        background-color: $nav-tabs-link-active-bg;
    }

    .dropdown-menu
    {
        // Make dropdown border overlap tab border
        margin-top: -$nav-tabs-border-width;
        // Remove the top rounded corners here since there is a hard edge above the menu

        border-top-radius: 0;
    }
}


//
// Justified variants
//

.nav-fill
{
    > .nav-link,
    .nav-item
    {
        flex: 1 1 auto;

        text-align: center;
    }
}

.nav-justified
{
    > .nav-link,
    .nav-item
    {
        flex-basis: 0;
        flex-grow: 1;

        text-align: center;
    }
}

.nav-fill,
.nav-justified
{
    .nav-item .nav-link
    {
        width: 100%; // Make sure button will grow
    }
}


// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content
{
    > .tab-pane
    {
        display: none;
    }
    > .active
    {
        display: block;
    }
}
