/* Error: (xs: xs, sm: sm, md: md, lg: lg, xl: xl, xxl: xxl) isn't a valid CSS value.
 *     ,
 * 113 | $infix: breakpoint-infix($breakpoints, $grid-breakpoint);
 *     |                                        ^^^^^^^^^^^^^^^^
 *     '
 *   variables/spacings/_grid.scss 113:40  @import
 *   variables/_spacing.scss 25:9          @import
 *   variables/_variables.scss 20:3        @import
 *   style.scss 3:9                        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: (xs: xs, sm: sm, md: md, lg: lg, xl: xl, xxl: xxl) isn't a valid CSS value.\a     \2577 \a 113 \2502  $infix: breakpoint-infix($breakpoints, $grid-breakpoint);\a     \2502                                         ^^^^^^^^^^^^^^^^\a     \2575 \a   variables/spacings/_grid.scss 113:40  @import\a   variables/_spacing.scss 25:9          @import\a   variables/_variables.scss 20:3        @import\a   style.scss 3:9                        root stylesheet";
}
