@import 'tools/functions';

@import 'variables/variables';
@import
  'docs/cjmt-brand/colors',
  'docs/cjmt-brand/fonts/fonts',
  'docs/cjmt-brand/typography';
@import 'tools/mixins';
@import 'tools/utils/utilities';

@import 'tools/root',
'tools/reboot';

@import
  'structure/grid/style-grid',
  'components';
@import 'structure/style-base';
@import 'tools/helpers';

@import
  'tools/utils/rfs',
  'tools/utils/api';

.bg-front-page
{
    height: 100%;

    background-image: url( 'docs/cjmt-brand/img/wallpaper-pg-typewriter.png' );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
