$border-width: 1px;
$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px
);

$border-width-focus: 4;

$border-radius: .35rem !default;
$border-radius-sm: .25rem !default;
$border-radius-lg: .55rem !default;
$border-radius-pill: 50rem !default;

$border-color: $primary-color;

$box-shadow: 1.75rem 1.5rem 1.75rem $box-shadow-rgba;
$box-shadow-sm: 1.25rem 1rem 1.25rem rgba($box-shadow-rgba, .075);
$box-shadow-lg: 2.25rem 2rem 2.25rem rgba($box-shadow-rgba, .175);
$box-shadow-active: 1.75rem 1.5rem 1.75rem rgba($active-rgba, .25);
$box-shadow-hover: inset .25rem .50rem .75rem rgba($active-border-rgba, .075);
$box-shadow-focus: inset .25rem .50rem .75rem rgba($active-bg-rgba, .075) 25%;
