$enable-caret: true;
$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: true;
$enable-transitions: true;
$enable-reduced-motion: true;
$enable-smooth-scroll: true;
$enable-grid-classes: true;
$enable-container-classes: true;
$enable-cssgrid: true;
$enable-button-pointers: true;
$enable-rfs: true;
$enable-validation-icons: true;
$enable-negative-margins: true;
$enable-deprecation-messages: true;
$enable-important-utilities: true;

@import
  'colors',
  'spacing',
  'borders',
  'typography',
  'navbar';

$link-active: color;
$link-active-border: border-color;
$link-active-decoration: none;
$link-active-hover: $hover;
$link-active-hover-border: $hover-border;
$link-active-hover-bg: $hover-bg;
$link-active-hover-decoration: underline;



/**
 * ## Card
 =========================*/
$card-color: null;
$card-height: null;
$card-bg: $silver;

$card-spacer-y: $base-unit !default;
$card-spacer-x: $base-unit !default;
$card-title-spacer-y: $base-unit * .5 !default;

$card-border-width: $border-width !default;

$card-border-color: rgba($black, .125) !default;
$card-border-radius: $border-radius !default;

$card-box-shadow: null !default;
$card-inner-border-radius: subtract($card-border-radius, $card-border-width) !default;
$card-cap-padding-y: $card-spacer-y * .5 !default;
$card-cap-padding-x: $card-spacer-x !default;
$card-cap-bg: rgba($black, .03) !default;
$card-cap-color: null !default;
$card-height: null !default;
$card-color: null !default;
$card-bg: $ghost-white !default;
$card-img-overlay-padding: $base-unit !default;
$card-group-margin: $grid-gutter * .5 !default;
// scss-docs-end card-variables
