$primary-color: $cyan;
$secondary-color: $yellow;
$accent-color: $gray-500;

$success: $green;
$warning: $orange;
$danger: $red;
$info: $blue;
$light: $gray-100;
$dark: $gray-900;

$shadow: $gray-700;

// Gradient
//
// The gradient which is added to components if `$enable-gradients` is `true`
// This gradient is also added to elements with `.bg-gradient`
// scss-docs-start variable-gradient
$gradient: linear-gradient(180deg, rgba($white, .15), rgba($white, 0)) !default;
// scss-docs-end variable-gradient
