$primary-color: $cyan;
$secondary-color: $yellow;
$accent-color: $silver;

$success: $green;
$warning: $orange;
$danger: $red;
$info: $blue;
$light: $gray-100;
$dark: $gray-900;

$box-shadow: $gray-700;
